// -------- Section Location --------

.location {
    width: 100%;
    height: 50px;
    background-color: $grey;
    @include flex-center;
    gap: 18px;
    margin-top: 62px;

    &__name {
        font-size: 1rem;
        font-weight: 400;
    }
}

// -------- Section Intro --------

.intro {
    
    width: 100%;
    background-color: $lightgrey;
    text-align: center;
    padding: 40px 30px 50px;

    &__title {
        padding: 0 15px;

        // @media screen and (min-width: 768px) {
        //     margin-top: 1%;
        //     font-size: 1.6rem;
        // }

        // @media screen and (min-width: 992px) {
        //     font-size: 2rem;
        // }

        @include mq(tablet) {
            margin-top: 1%;
            font-size: 1.6rem;
        }
        
        @include mq(desktop) {
            font-size: 2rem;
        }
    }

    &__subtitle {
        margin: 20px 0 25px;
        font-size: 1.125rem;
        font-weight: 300;

        // @media screen and (min-width: 768px) {
        //     margin: 3% 0 4%;
        //     font-size: 1.3rem;
        //     line-height: 1.4;
        // }
        // @media screen and (min-width: 992px) {
        //     font-size: 1.5rem;
        // }

        @include mq(tablet) {
            margin: 3% 0 4%;
            font-size: 1.3rem;
            line-height: 1.4;
        }
        
        @include mq(desktop) {
            font-size: 1.5rem;
        }
    }

    &__btn {
        // @media screen and (min-width: 768px) {
        //     margin-bottom: 1.5%;
        // }

        @include mq(tablet) {
            margin-bottom: 1.5%;
        }
    }
}

// -------- Section Instructions --------

.instructions {

    &__container {
        width: $width-container;
        margin: 0 auto;
        padding: 50px 0 70px;
        background-color: $white;

        // @media screen and (min-width: 992px) {
        //     max-width: $width-container-max;
        //     padding: 60px 0 40px;
        // }

        @include mq(desktop) {
            max-width: $width-container-max;
            padding: 60px 0 40px;
        }
    }

    &__title {
        
        // @media screen and (min-width: 992px) {
        //     text-align: center;
        //     font-size: 1.8rem;
        // }

        @include mq(desktop) {
            text-align: center;
            font-size: 1.8rem;
        }
    }

    &__list {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 13px;

        // @media screen and (min-width: 768px) {
        //     flex-direction: row;
        //     flex-wrap: wrap;
        //     gap: 5%;
        //     margin-top: 50px;
        //     padding-left: 0;
        // }

        @include mq(tablet) {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 5%;
            margin-top: 50px;
            padding-left: 0;
        }
    }

}

.instruction {
    background-color: $lightgrey;
    border-radius: 25px;
    margin-bottom: 20px;
    padding: 1.75em 2.25em;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 0;
    box-shadow : 2px 4px 14px rgba(0, 0, 0, 0.15);

    // @media screen and (min-width: 768px) {
    //     width: 324px;
    //     margin-bottom: 4%;
    // }

    @include mq(tablet) {
        width: 324px;
        margin-bottom: 4%;
    }

    &:last-child {
        margin-bottom: 0;

        // @media screen and (min-width: 992px) {
        //     margin-bottom: 4%;
        // }

        @include mq(desktop) {
            margin-bottom: 4%;
        }

    }

    &__num {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -13px;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: $color-primary;
        color: $white;
        @include flex-center;
    } 

    &__icon {
        font-size: 1.25rem;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        color: #7e7e7e;
    }

    &__text {
        font-weight: 500;
        margin-left: 20px;
    }

    &--purple {
        background-color: #F5EDFF;

        .instruction__icon {
            color: $color-primary;
        }
    }

}

// -------- Section Restaurants --------

.restaurants {
    background-color: $lightgrey;

    &__container {
        width: $width-container;
        margin: 0 auto;
        padding: 50px 0 62px;

        // @media screen and (min-width: 768px) {
        //     max-width: $width-container-max;
        // }

        @include mq(tablet) {
            max-width: $width-container-max;
        }
    }

    &__title {
        // @media screen and (min-width: 992px) {
        //     text-align: center;
        //     font-size: 1.8rem;
        // }

        @include mq(desktop) {
            text-align: center;
            font-size: 1.8rem;
        }
    }

    &__list {
        margin-top: 25px;
        display: flex;
        flex-direction: column;

        // @media screen and (min-width: 768px) {
        //     flex-direction: row;
        //     flex-wrap: wrap;
        //     justify-content: center;
        //     gap: 5%;
        //     margin-top: 50px;
        // }

        @include mq(tablet) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 5%;
            margin-top: 50px;
        }

    }
}

// --- Restau Card ---

.restau-card {
    margin-bottom: 20px;

    // @media screen and (min-width: 1200px) {
    //     margin-bottom: 40px;
    // }

    @include mq(larger-device) {
        margin-bottom: 40px;
    }

    &:last-child {
        margin-bottom: 0;
    }
    
    &__container {
        max-width: 500px;
        margin: 0 auto;
        height: 250px;
        border-radius: 15px;
        background-color: $white;
        box-shadow: 0 4px 8px rgba(0,0,0,0.15);
        position: relative;

        // @media screen and (min-width: 768px) {
        //     min-width: 320px;
        // }

        // @media screen and (min-width: 992px) {
        //     min-width: 400px;
        // }

        // @media screen and (min-width: 1200px) {
        //     min-width: 500px;
        // }

        @include mq(tablet) {
            min-width: 320px;
        }
        
        @include mq(desktop) {
            min-width: 400px;
        }
        
        @include mq(larger-device) {
            min-width: 500px;
        }
    }

    &__figure {
        height: 70%;
    }
    
    &__image {
        @include image-fit;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    &__body {
        height: 30%;
        padding: 15px 25px 15px 10px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__title {
        margin-bottom: 5px;
    }

    &__subtitle {
        font-weight: 300;
    }

    &__like {
        @include like;
    }    

    &__tag {
        position: absolute;
        top: 13px;
        right: 12px;
        width: 80px;
        height: 30px;
        background-color: $color-tertiary;
        border-radius: 3px;
        color: #149173;
        font-size: 0.875rem;
        font-weight: 500;
        @include flex-center;
    }

}