// Keyframes

// animation loader

@keyframes spinning {
    to {
        transform: rotate(1turn);
    }
}

@keyframes display-loader {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
        visibility: hidden;
    }
}

//animation coeur

@keyframes fill-heart {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-heart {
    0% {
        opacity: 1;

    }

    100% {
        opacity: 0;
    }
}

// affichage progressif des plats

@keyframes display-cat {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}