// Couleurs

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$white: #FFF;
$grey: #EAEAEA;
$lightgrey: #F6F6F6;
$darkgrey: #363636;

// Polices

$font-heading: 'Shrikhand', "cursive";
$font-text: 'Roboto', sans-serif;

// Dimensions

$width-container: 89%;
$width-container-max: 1440px;

// Breakpoints

$breakpoints: (
    tablet: 768px,
    desktop: 992px,
    larger-device: 1200px
);