// Variables 

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$white: #FFF;
$grey: #EAEAEA;
$lightgrey: #F6F6F6;
$darkgrey: #363636;

$font-heading: 'Shrikhand', "cursive";
$font-text: 'Roboto', sans-serif;

$container-mobile: 89%;
$container: 93%;




